In [ ]:
'''
File name: 00_homework.py
Author: Florent
Date created: 03/10/2018
Date last modified: 01/11/2019
Python Version: 3.6
'''

# Libraries

In [12]:
import pandas as pd
import numpy as np

# Data Imports

In [13]:
FILE_PATH = "./interactive_data.csv"
df = pd.read_csv(FILE_PATH)
df.head(10)

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7
5,6,None selected,None selected,None selected,Other,306,9669323,3.2
6,7,None selected,None selected,Under 15,None selected,427,61085868,0.7
7,8,None selected,None selected,Under 15,White,242,31538832,0.8
8,9,None selected,None selected,Under 15,Black,109,8323603,1.3
9,10,None selected,None selected,Under 15,Hispanic,63,14994449,0.4

# Nearly two-thirds of gun deaths are suicides

In [14]:
intent = df.Intent.unique()
print(intent)

['None selected' 'Suicide' 'Homicide' 'Accident' 'Unknown']

In [34]:
death_total =     int(df[(df['Intent'] == 'None selected') 
                       & (df['Gender'] == 'None selected')
                       & (df['Age'] == 'None selected')
                       & (df['Race'] == 'None selected')
                      ]['Deaths'])


death_suicide =   int(df[(df['Intent'] == 'Suicide') 
                       & (df['Gender'] == 'None selected')
                       & (df['Age'] == 'None selected')
                       & (df['Race'] == 'None selected')
                      ]['Deaths'])

print("suicide/gun deaths : %.3f" % (death_suicide/death_total))

suicide/gun deaths : 0.627

# More than 85 percent of suicide victims are male.

In [33]:
death_suicide_male =   int(df[(df['Intent'] == 'Suicide') 
                        & (df['Gender'] == 'Male')
                        & (df['Age'] == 'None selected')
                        & (df['Race'] == 'None selected')
                      ]['Deaths'])

print("suicide male/suicide : %.3f" % (death_suicide_male/death_suicide))

suicide male/suicide : 0.862

# Around a third of all gun deaths are homicides.

In [36]:
death_homicide =   int(df[(df['Intent'] == 'Homicide') 
                       & (df['Gender'] == 'None selected')
                       & (df['Age'] == 'None selected')
                       & (df['Race'] == 'None selected')
                      ]['Deaths'])
print("homicide/gun deaths : %.3f" % (death_homicide/death_total))

homicide/gun deaths : 0.349

# Around two-thirds of homicide victims who are males in the age-group of 15--34 are black.

In [45]:
death_homicide_2 =   int(df[(df['Intent'] == 'Homicide') 
                       & (df['Gender'] == 'Male')
                       & (df['Age'] == '15 - 34')
                       & (df['Race'] == 'None selected')
                      ]['Deaths'])

death_homicide_2_black =   int(df[(df['Intent'] == 'Homicide') 
                       & (df['Gender'] == 'Male')
                       & (df['Age'] == '15 - 34')
                       & (df['Race'] == 'Black')
                      ]['Deaths'])

print("result : %.3f" % (death_homicide_2_black/death_homicide_2))

result : 0.661

# Women constitue only 15 percent of the total homicide victims.

In [48]:
death_gonzesse =   int(df[(df['Intent'] == 'Homicide') 
                       & (df['Gender'] == 'Female')
                       & (df['Age'] == 'None selected')
                       & (df['Race'] == 'None selected')
                      ]['Deaths'])

print("result : %.3f" % (death_gonzesse/death_homicide))

result : 0.153

In [56]:
death_gonzesse_2 = df.loc[
                         (df['Intent'] == 'Homicide') 
                       & (df['Gender'] == 'Female')
                       & (df['Age']    == 'None selected')
                       & (df['Race']   == 'None selected')
                      ,
                      "Deaths"]

print("result : %.3f" % (death_gonzesse_2/death_homicide))

result : 0.153